
<div class='head'>$lang.get('autoupgrade.setting.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/autoupgrade' >$lang.get('a.autoupgrade')</a>
	<a href='/admin/autoupgrade/setting' class='selected'>$lang.get('a.setting')</a>
</div>

<form action='/admin/autoupgrade/setting'  method='post' class='form' enctype="multipart/form-data">
	<div><label><h3>$lang.get('autoupgrade.url'):</h3><input type='text' name='url' value="$!global.getString('autoupgrade.url', '')"/></label></div>
	<div><label><h3>$lang.get('autoupgrade.modules'):</h3><input type='text' name='modules' value="$!modules"/></label></div>
	
	<button type='submit'>$lang.get('btn.save')</button>
</form>
